= simple_form_for(@party, html: { class: 'form-horizontal' }) do |f|
  - if @party.errors.any?
    #error_explantation.alert.alert-block
      %a{ class: 'close', 'data-dismiss' => 'alert'}×
      %h4= "存在#{@party.errors.count}个错误导致创建失败"
      %ul
        - @party.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.input :location
    = f.input :topic
    = f.input :date
    = f.input :address
    = f.input :presenter
    = f.input :introduction
  .form-actions
    = f.submit t('common.create_party'), class: 'btn-primary'
    = link_to t('common.cancel'), root_path, class: 'btn'
