#page-container.home-container.wrapper
  .main-content
    .list-party
      %h3#title= t('common.list_party')
      - @parties.each do |party|
        .party-info
          %h3= link_to party.title, party_path(party)
          %h4= party.introduction
      = paginate @parties
  = render 'sidebar'
