.new-party
  = simple_form_for(@party, html: { class: 'form-horizontal', id: 'new-party' }) do |f|
    = f.input :topic
    = f.input :presenter
    = f.input :date
    = f.input :address
    = f.input :introduction
    = f.submit '创建聚会'
