#page-container.home-container.wrapper
  .main-content
    .show-party
      %h3= @party.topic
      .party-detail
        .fix-line
          %label= t('mongoid.attributes.party.date')
          %span= @party.date
        .fix-line
          %label= t('mongoid.attributes.party.address')
          %span= @party.address
        .fix-line
          %label= t('mongoid.attributes.party.presenter')
          %span= @party.presenter
        .fix-line
          %label= t('mongoid.attributes.party.introduction')
          %span= @party.introduction
        .regist-and-share
          = social_share_button_tag(@party.title)
    #reply-party
      = render 'comments/list'
  = render 'sidebar'
