.sign-in
  .content
    %h2 用户登录
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-horizontal
        .control-group
          = f.label '电子邮箱', class: 'control-label'
          .controls
            = f.email_field :email, class: 'input-medium'
        .control-group
          = f.label '密码', class: 'control-label'
          .controls
            = f.password_field :password, class: 'input-medium'
        .control-group
          .controls
            %label.checkbox
              = f.check_box :remember_me
              记住我
        .form-actions
          = f.submit "登录", class: 'btn btn-primary'
    -#= render "links"
